# List Comprehensions
https://docs.python.org/3/tutorial/datastructures.html?highlight=comprehension#list-comprehensions

This is a topic that can be quite difficult for those new to Python, and I would always recommend avoiding them if you are not really comfortable with them. Fundamentally, they do the same thing that a loop would do, but on a single line.  Let's start by creating a list of all all values from 0 through 19 (so 20 values) using a list comprehension:

In [1]:
base_list = [x for x in range(20)]
base_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Why did I use `x`?  It doesn't matter, I could use any variable as long as it isn't a reserved word. Also, it is worth noting that `x` here only exists in the context of the list comprehension, so if I try to access it directly I will get an error.

In [2]:
x

NameError: name 'x' is not defined

The list comprehension is easy, though I could have accomplished the same thing with a standard for loop:

In [3]:
base_list = []  # I first create my empty list
for x in range(20):  # I then iterate through the 20 values of x
    base_list.append(x)  # and add them to my empty list
base_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

As you can see, I get the same result, however I now used the variable `x` in the namespace and it is actually accessible outside of the loop:

In [4]:
x

19

## More advanced List Comprehensions

You can nest them to create/manipulate higher dimensional data:

In [5]:
nested_list = [[x for x in range(10)] for y in range(10)]
nested_list

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

You can use an `if` statement to limit it's output:

In [6]:
[x for x in base_list if x%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

You can also use if/else conditions:

In [7]:
[1 if x//2==2 else 0 for x in base_list]

[0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

You can apply other functions or transitions to the data, so here I make strings from the odd numbers in my base list:

In [8]:
[str(x) for x in base_list if x%2==1]

['1', '3', '5', '7', '9', '11', '13', '15', '17', '19']

## Other Type Comprehensions

It is not uncommon to also see sets and dictionaries used in comprehensions:

Set:

In [9]:
{x%3 for x in base_list}

{0, 1, 2}

Dictionary:

In [10]:
base_dict = {x: x//2 for x in base_list}
base_dict

{0: 0,
 1: 0,
 2: 1,
 3: 1,
 4: 2,
 5: 2,
 6: 3,
 7: 3,
 8: 4,
 9: 4,
 10: 5,
 11: 5,
 12: 6,
 13: 6,
 14: 7,
 15: 7,
 16: 8,
 17: 8,
 18: 9,
 19: 9}

You can also manipulate dictionaries or sets within other comprehensions:

In [11]:
[key for key, value in base_dict.items()]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

You can also use it to do things like flatten a nested list.  Here I flatten my nested list from earlier, but only keep values that were either 1 or 2:

In [12]:
[item for sublist in nested_list for item in sublist if item in (1,2)]

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

# Lambda Functions
https://docs.python.org/3/tutorial/controlflow.html?highlight=lambda#lambda-expressions

A lambda function is a function that you declare inline with the keyword `lambda`.  Below is an example of a lambda function that squares the value provided to it:

In [13]:
squared_lambda = lambda x: x**2
squared_lambda(3)

9

**DONT DO THIS** 

This is not pythonic, and shouldn't be done. I gave it a name here to demonstrate, but if you need to give it a name, don't use a lambda function.  Just use a regular function like this:

In [14]:
def squared_func(x):
    return x**2
squared_func(3)

9

You get the same result, and it is far easier to read!  Lambdas are commonly used with things like the built in `map()` function.  

## Map() with Lambda()
https://docs.python.org/3/library/functions.html#map

Map applies a function to every item in an iterable, so I can combine Map() a Lambda and my list comprehensions like this to cube every value in `base_list` I've been working with

In [15]:
map(lambda x: x**3, base_list)

What is this?  The map function returns an iterable, but I can easily convert it back into a list with a list comprehension:

In [16]:
[x for x in map(lambda x: x**3, base_list)]

[0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859]

Another place I commonly use lambda functions is if I'm working with a pandas DataFrame and want to apply a function across a row or column of the data frame.  I'm going to build a simple data frame with my nested list from earlier, and I'll even use a list comprehension to create string column names for it!

In [17]:
import pandas as pd

df = pd.DataFrame(nested_list, columns = [str(x) for x in range(10)])
df.head()

   0  1  2  3  4  5  6  7  8  9
0  0  1  2  3  4  5  6  7  8  9
1  0  1  2  3  4  5  6  7  8  9
2  0  1  2  3  4  5  6  7  8  9
3  0  1  2  3  4  5  6  7  8  9
4  0  1  2  3  4  5  6  7  8  9

Now, if I want to apply a function to an entire column, I easily can. This returns the cube of every value in the column named '8':

In [18]:
df['8'].apply(lambda x: x**3)

0    512
1    512
2    512
3    512
4    512
5    512
6    512
7    512
8    512
9    512
Name: 8, dtype: int64

I can also apply a lambda to each row in the data frame.  Here I'm looking for the max value in each row, which we know will be 9:

In [19]:
df.apply(lambda x: max(x), axis=1)

0    9
1    9
2    9
3    9
4    9
5    9
6    9
7    9
8    9
9    9
dtype: int64

# Built In Functions:
https://docs.python.org/3/library/functions.html

I've already used a few of them here such as `map()`, `max()`, `str()` and `range()`.  These are all valuable things to learn and know how to use.  There are two others that I think are worth mentioning if you have not yet encountered them: `zip()` and `enumerate()`.  Both of these can often be seen used with list comprehensions.

## Enumerate
https://docs.python.org/3/library/functions.html#enumerate

When you use `enumerate()` in conjunction with an iterable, it returns the count of items that have been seen, and the iterable itself. Here is an example using a for loop:

In [20]:
for idx, value in enumerate(['item1', 'item2', 'item3']):
    print(value, 'was item number', idx)

item1 was item number 0
item2 was item number 1
item3 was item number 2

Here I use it in conjunction with a dictionary comprehension:

In [21]:
{value:idx for idx, value in enumerate(['a', 'b', 'c', 'd'])}

{'a': 0, 'b': 1, 'c': 2, 'd': 3}

## Zip
https://docs.python.org/3/library/functions.html#zip

This has nothing to do with compressing data.  This takes equal length iterables and joins them together as one.  Here is a simple example of how to use it in a list comprehension:

In [22]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
animals = ['dog', 'cat', 'bird', 'fish', 'snake', 'turtle', 'rock']
[x for x in zip(letters, animals)]

[('a', 'dog'),
 ('b', 'cat'),
 ('c', 'bird'),
 ('d', 'fish'),
 ('e', 'snake'),
 ('f', 'turtle'),
 ('g', 'rock')]

You generally want to make sure your iterables are the same length. From the docs: "The iterator stops when the shortest input iterable is exhausted." This means they will work, but you might have unintended results.  Here we lose the 'rock' animal (pet rock!) when we zip it with a shorter list of integers:

In [23]:
numbers = [1, 2, 3, 4, 5, 6]
[x for x in zip(animals, numbers)]

[('dog', 1), ('cat', 2), ('bird', 3), ('fish', 4), ('snake', 5), ('turtle', 6)]